


<div class="category-content no-padding">
    <ul class="navigation navigation-main navigation-accordion">
        @if (User.IsInRole("Admin"))
        {
            <!-- Main -->
            <li class="navigation-header"><span>Main</span> <i class="icon-menu" title="Main pages"></i></li>
            <li class="active"><a href="/Dashboard/Index"><i class="icon-home4"></i> <span>Dashboard</span></a></li>
            <li>
                <a href="#"><i class="icon-stack2"></i> <span>Ayarlar</span></a>
                <ul>
                    <li><a href="/Role/Index">Role</a></li>
                    <li><a href="/Admin/Index">Kullanıcılar</a></li>
                    <li><a href="/Admin/Index">Sosyal Ağlar</a></li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="icon-copy"></i> <span>Kategoriler</span></a>
                <ul>
                    <li><a href="#">Kategori Listesi</a></li>
                    <li><a href="#">Ürünler</a></li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="icon-stack"></i> <span>Galeri</span></a>
            </li>
            <!-- /main -->
            <!-- Forms -->
            <li class="navigation-header"><span>Sayfalar</span> <i class="icon-menu" title="Hizmetler"></i></li>
            <li>
                <a href="#"><i class="icon-pencil3"></i> <span>Hizmetler</span></a>
            </li>
            <li>
                <a href="#"><i class="icon-footprint"></i> <span>Haberler</span></a>
            </li>
            <li>
                <a href="#"><i class="icon-spell-check"></i> <span>İçerikler</span></a>
                <ul>
                    <li><a href="/Heading/Index">Başlık</a></li>
                    <li><a href="/Content/Index/">İçerik</a></li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="icon-select2"></i> <span>Slider</span></a>
            </li>
            <li>
                <a href="#"><i class="icon-construction"></i> <span>İletişim</span></a>
            </li>
            <li>
                <a href="#"><i class="icon-insert-template"></i> <span>Form layouts</span></a>
                <ul>
                    <li><a href="form_layout_vertical.html">Vertical form</a></li>
                    <li><a href="form_layout_horizontal.html">Horizontal form</a></li>
                </ul>
            </li>
            <!-- /forms -->
        }
    </ul>
</div>