
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<!-- Page header -->
<div class="page-header">
    <div class="page-header-content">
        <div class="page-title">
            <h5>
                <i class="icon-arrow-left52 position-left"></i><span class="text-semibold">Anasayfa</span> - Dashboard
                <small class="display-block">Admin Yönetim Paneli</small>
            </h5>
        </div>
    </div>
    <div class="breadcrumb-line">
        <ul class="breadcrumb">
            <li><a href="/Admin/Default.aspx"><i class="icon-home2 position-left"></i>Anasayfa</a></li>
            <li class="active">Admin Yönetim Paneli</li>
        </ul>
    </div>
</div>
<!-- /page header -->
<!-- Content area -->
<div class="content">
    <!-- Dashboard content -->
    <div class="row">
        <div class="col-lg-12">
            <!-- /basic sorting -->
            <div class="row">
                <div class="col-lg-3">
                    <!-- Members online -->
                    <div class="panel bg-orange-400">
                        <div class="panel-body">
                            <h3 class="no-margin">
                                @ViewBag.HeadingCount
                            </h3>
                            Toplam Başlık Sayısı
                        </div>
                        <div class="container-fluid">
                            <div id="Div6"></div>
                        </div>
                    </div>
                    <!-- /members online -->
                </div>

                <div class="col-lg-3">
                    <!-- Members online -->
                    <div class="panel bg-teal-400">
                        <div class="panel-body">
                            <h3 class="no-margin">
                                Kayıtlı Admin
                            </h3>
                            Kayıtlı Admin
                        </div>
                        <div class="container-fluid">
                            <div id="Div9"></div>
                        </div>
                    </div>
                    <!-- /members online -->
                </div>
            </div>
            <!-- /quick stats boxes -->
        </div>
    </div>
    <!-- /content area -->
</div>
