@model MvcWeb.Models.Entity.Admin
    @{
        ViewBag.Title = "AdminGiris";
        Layout = "~/Views/Shared/_LoginLayout.cshtml";
    }

    <form action="/Login/AdminGiris" method="post">
        <div class="panel panel-body login-form">
            <div class="text-center">
                <div class="icon-object border-slate-300 text-slate-300"><i class="icon-people"></i></div>
                <h5 class="content-group">Hesabınıza giriş yapın <small class="display-block">Kimlik bilgilerinizi aşağıya girin</small></h5>
            </div>
            <div class="form-group has-feedback has-feedback-left">
                <input type="text" class="form-control" name="Email" placeholder="Yönetici Eposta Adresi">
                <div class="form-control-feedback">
                    <i class="icon-user text-muted"></i>
                </div>
            </div>
            <div class="form-group has-feedback has-feedback-left">
                <input type="password" class="form-control" name="Password" placeholder="Yönetici Şifresi">
                <div class="form-control-feedback">
                    <i class="icon-lock2 text-muted"></i>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Giriş Yap <i class="icon-circle-right2 position-right"></i></button>
            </div>
            <div class="text-center">
                <a href="login_password_recover.html">Şifremi Unuttum?</a>
            </div>
        </div>
    </form>

